$def with (name=None)
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/scss.css">
    <link rel="shortcut icon" href="/static/images/logo2.ico" type="image/x-icon">
    <title>Home</title>
  </head>
  <body>
    <header class="mb-auto">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user_admin"><img src="/static/images/logo.png" width="50px">Lorem ipsum</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/inicio_admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li class="nav-item">
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section class="py-5 text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Bienvenido $name.val()['name']</h1>
          <p class="lead text-muted">Como Administrador, tienes herramientas que permitiran realizar tu trabajo de administracion las rapido,
              ¡Conocelas!.
              <br>
              <li class="lead text-muted">En el Dashboard podras controlar la temperatura y humedad de las sucursales.</li> 
              <li class="lead text-muted">Agrega a nuevos operadores o a otro administrador.</li>
              <li class="lead text-muted">Ten acceso a la lista de usuarios del sistema, modifica datos o inhabilita cuentas en desuso.</li>
            </p>
          <p>
            <a href="/dashboard_admin" class="btn_1 btn-primary my-2">Ir al Dashboard</a>
            <a href="/register" class="btn_1 btn-secondary">Agregar nuevo Usuario</a>
            <a href="/user_list" class="btn_1 btn-info">Ver la lista de Usuarios</a>
            
          </p>
        </div>
      </div>
    </section>

  </body>
</html>