$def with(users)

<table class="table">
    <thead>
        <td>Name</td>
        <td>Email</td>
        <td>Update</td>
        <td>Disable/Enable</td>
    </thead>
    $for user in users:
        <tr>
            <td>$user.key()</td>
            <td><a href="/user_view/$user.key())">$user.val().get("name")</a></td>
            <td>$user.val().get("email")</td>
            <td><a href="/user_update/$user.key()">Update</a></td>
            <td><a href="/user_delete/$user.key()">Status</a></td>
        </tr>
</table>